[Unit]
Description=Tomcat webserver
After=syslog.target network.target

[Service]
Type=forking
User=tomcat
ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
