#!/bin/sh
export JAVA_HOME=/usr/lib/jvm/jre-1.7.0-openjdk
cd /opt/aaf/shibsrc/shibboleth-identityprovider-{{ idp_version }}/
./install.sh <<ENDFILE

{{ server_name }}
{{ idp_storepass }}
ENDFILE
rmdir /opt/shibboleth-idp/logs
