User apache
Group apache

ServerRoot "/etc/httpd"
ServerAdmin http://www.aaf.edu.au
ServerName {{server_name}}

PidFile run/httpd.pid
Timeout 60
KeepAlive Off
MaxKeepAliveRequests 100
KeepAliveTimeout 15

StartServers       8
MinSpareServers    5
MaxSpareServers   20
ServerLimit      256
MaxClients       256
MaxRequestsPerChild  4000
DefaultLanguage en
AddDefaultCharset UTF-8

ServerTokens ProductOnly
ServerSignature Off
HostnameLookups Off
EnableMMAP on
EnableSendfile on

LogLevel warn

LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

CustomLog logs/access_log combined
ErrorLog logs/error_log

LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
LoadModule alias_module modules/mod_alias.so
LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule proxy_http_module modules/mod_proxy_http.so
Include conf.d/*.conf
Include conf.modules.d/00-mpm.conf
Include conf.modules.d/00-base.conf
Include conf.modules.d/00-systemd.conf
Include conf.modules.d/00-ssl.conf

<IfModule mod_userdir.c>
    UserDir disabled
</IfModule>

AccessFileName .htaccess

<Files ~ "^\.ht">
    Require all denied
</Files>

TypesConfig /etc/mime.types
DefaultType text/plain

AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl


<IfModule mod_negotiation.c>
  <IfModule mod_include.c>
      <Directory "/var/www/error">
        AllowOverride None
        Options IncludesNoExec
        AddOutputFilter Includes html
        AddHandler type-map var
        Require all denied
        LanguagePriority en es de fr
        ForceLanguagePriority Prefer Fallback
      </Directory>

#    ErrorDocument 400 /error/HTTP_BAD_REQUEST.html.var
#    ErrorDocument 404 /error/HTTP_NOT_FOUND.html.var
#    ErrorDocument 500 /error/HTTP_INTERNAL_SERVER_ERROR.html.var
#    ErrorDocument 501 /error/HTTP_NOT_IMPLEMENTED.html.var
#    ErrorDocument 502 /error/HTTP_BAD_GATEWAY.html.var
#    ErrorDocument 503 /error/HTTP_SERVICE_UNAVAILABLE.html.var

  </IfModule>
</IfModule>

# SSL configuration
SSLPassPhraseDialog  exec:/bin/false
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
Mutex sysvsem default
SSLRandomSeed startup file:/dev/urandom 512
SSLRandomSeed connect file:/dev/urandom 512
SSLCryptoDevice builtin

ExtendedStatus On

Listen 80
Listen 443
Listen 8443

<VirtualHost {{ip}}:443>
  ServerName {{server_name}}
  Include conf.d/ssl.conf.include

  SSLCertificateFile /etc/pki/tls/certs/localhost.crt
  SSLCertificateKeyFile /etc/pki/tls/private/localhost.key

  ProxyRequests Off
  <Proxy ajp://localhost:8009>
    Require all granted
  </Proxy>

  ProxyPass /idp ajp://localhost:8009/idp retry=5
</VirtualHost>

<VirtualHost {{ip}}:8443>
  ServerName {{server_name}}:8443

  SSLEngine on
  SSLProtocol -All -SSLv2 -SSLv3 +TLSv1
  SSLHonorCipherOrder On
  SSLCipherSuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
  SSLOptions -StdEnvVars +ExportCertData
  SSLCertificateFile /opt/shibboleth-idp/credentials/idp.crt
  SSLCertificateKeyFile /opt/shibboleth-idp/credentials/idp.key
  SSLVerifyClient optional_no_ca
  SSLVerifyDepth 10

  LogFormat "%h %l %u %t \"%r\" %>s %b" common
  LogFormat "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b" ssl
  CustomLog logs/vho_access_log common
  CustomLog logs/vho_8443_request_log ssl
  ErrorLog logs/vho_8443_error_log
  LogLevel warn

  ProxyPass /idp ajp://localhost:8009/idp retry=2
  ProxyPassReverse /idp ajp://localhost:8009/idp
</VirtualHost>

<VirtualHost 127.0.0.1:80>
  <Location /mod_status>
    SetHandler server-status
  </Location>
</VirtualHost>

<VirtualHost {{ip}}:80>
  Redirect permanent / https://{{server_name}}
</VirtualHost>

TraceEnable off
